.hero {
  position: relative;
  padding: 0;
  margin: 0;
  &__slide {
    &-list {
      padding: 0;
      margin: 0;
    }
    &-wrapper {
      position: relative;
      padding-top: 52.6%;
      background: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

    }
    &-main {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 100%;
      background: #f0f0f0;

      @include background-cover;
    }
    &-header {
      max-width: rem(1200px);
      padding: 0 rem(15px);

      h1 {
        font-size: rem(120px);
        color: white;
        text-transform: uppercase;
        letter-spacing: letterspacing(140, 120);
        line-height: 1.2;
        font-family: 'teko', sans-serif;
        font-weight: 300;
        text-align: center;
        margin-top: 0;
        margin-bottom: rem(0px);
      }
      p {
        margin-top: 0;
        font-size: rem(22px);
        opacity: .7;
        color: white;
        max-width: rem(770px);
        margin: 0 auto;
        text-align: center;
      }
      a {
        @include button(white, black);
        margin-top: rem(48px);
        &:hover {
          background: $accent;
          color: white;
        }
      }
    }
  }
  &__pagination {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;

    &-links {
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      margin-bottom: rem(-6px);

      &:hover {
        .active {
          background: rgba(255,255,255,.6);
          background-clip: padding-box;
          &:hover {
            background: white;
            background-clip: padding-box;
          }
        }
      }
    }

    &-link {
      box-sizing: content-box;
      display: inline-block;
      height: rem(4px);
      width: rem(40px);

      border-top: rem(40px) solid rgba(255,255,255,0);
      border-bottom: rem(40px) solid rgba(255,255,255,0);
      border-right: rem(4px) solid rgba(255,255,255,0);
      border-left: rem(4px) solid rgba(255,255,255,0);

      background: rgba(255,255,255,.2);
      background-clip: padding-box;
      cursor: pointer;

      &:hover {
        background: white;
        background-clip: padding-box;
      }
      &.active {
        background: rgba(255,255,255,1);
        background-clip: padding-box;
      }
      &:active {
        background: $accent;
        background-clip: padding-box;
      }
    }
  }
}
