.history {
  background: white;

  .row {
    @include row;
  }
  .column {
    @include column;
    a {
      @include button(black, white);
      margin: 0 auto 0 0;
    }
    &:nth-child(2) {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    img.logotype {
      max-width: rem(400px);
      display: block;
      margin: 0 auto;
    }
  }
}
