.quotes {
  position: relative;
  z-index: 0;
  background: $brown;
  .column {
    position: relative;
    padding: rem(60px) 0;
  }
  .pagination {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  blockquote {
    font-size: rem(28px);
    text-align: center;
    max-width: rem(470px);
    color: white;
    font-weight: 300;
    margin: 0 auto;
    position: relative;
    &:before {
      display: block;
      min-height: rem(31px);
      min-width: rem(28px);
      content: url('../img/quotes.svg');
      position: absolute;
      top: 0;
      left:0;
      margin-left: rem(-55px);
      margin-top: rem(8px);
    }
  }
  .logos {
    padding: rem(60px) 0;
    display: flex;
    flex-direction: row;
    a {
      width: 100%;
      margin: 0 rem(15px);
      background: none;
      min-height: 150px;
      border: 1px solid #453e40;

      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-align: center;

      img {
        display: block;
        max-height: rem(80px);
      }

      &:nth-child(1) img { max-height: rem(55px); }
      &:nth-child(3) img { max-height: rem(80px); }
      &:nth-child(4) img { max-height: rem(70px); }
      &:nth-child(5) img { max-height: rem(85px); }
      &:nth-child(6) img { max-height: rem(40px); }
    }
  }
}
