.social {
  display: flex;
  flex-direction: row;
  background: #fafafa;

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  &__column {
    margin: 0 rem(100px) 0 auto;
    padding: 0 rem(15px);
    h2 {
      margin-top: 0;
      margin-bottom: rem(50px);
    }
    p { margin: rem(30px) 0; }
  }
  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    a {
      flex-grow: 1;
      height:rem(275px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      i {
        float: left;
      }

      h3 {
        margin: 0;
        font-size: rem(40px);
        margin-bottom: rem(-4px);
      }
      p {
        margin: 0;
      }
    }
    &:nth-child(1){ background: #30282a; }
    &:nth-child(2){ background: #352d2f; }
  }




  form {
    display: flex;
    flex-direction: row;

    input[type="email"] {
      height: rem(50px);
      padding: 0 .85rem;
      margin: 0;
      background: white;
      border: 1px solid #e5e5e5;
      font-size: rem(16px);
      color: black;
      outline: none;
      flex-grow: 1;
    }
    button[type="submit"] {
      @include pink-button;
      display: block;
      margin: 0;
      height: rem(50px);
      width: rem(120px);
      cursor: pointer;
      outline: none;
      border: none;
      font-size: rem(20px);
      font-family: 'teko', sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: letterspacing(150,20);
    }
  }
}
